requests
filelock
fsspec>=2023.5.0
packaging>=20.9
pyyaml>=5.1
tqdm>=4.42.1
typing-extensions>=3.7.4.3
aiohttp<4.0.0,>=3.8.3
langchain-core<0.4.0,>=0.3.15
langchain-text-splitters<0.4.0,>=0.3.0
langsmith<0.2.0,>=0.1.17
numpy<2,>=1
pydantic<3.0.0,>=2.7.4
SQLAlchemy<3,>=1.4
tenacity!=8.4.0,<10,>=8.1.0
Pillow
scikit-learn
scipy
transformers<5.0.0,>=4.41.0
ctransformers
pyaudio
faiss-cpu

